@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Opa!</span> Acesso Negado.</p>
        <p class="lead">
            Você não tem permissão para visualizar esta página.
        </p>
        <a asp-controller="Login" asp-action="Index" class="btn btn-primary mt-3">Ir para a Página de Login</a>
    </div>
</div>