<div class="modal fade" id="adicionarTarefaModal" tabindex="-1" aria-labelledby="adicionarTarefaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adicionarTarefaModalLabel">Adicionar Nova Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="modal-coluna-id" />
                    <div class="mb-3">
                        <label for="tarefa-titulo" class="col-form-label">Título:</label>
                        <input type="text" class="form-control" id="tarefa-titulo">
                    </div>
                    <div class="mb-3">
                        <label for="tarefa-descricao" class="col-form-label">Descrição:</label>
                        <textarea class="form-control" id="tarefa-descricao"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarTarefa()">Salvar</button>
            </div>
        </div>
    </div>
</div>