<div class="modal fade" id="confirmarDelecaoTarefaModal" tabindex="-1" aria-labelledby="confirmarDelecaoTarefaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarDelecaoTarefaModalLabel">Confirmar Exclusão da Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar esta tarefa?</p>
                <input type="hidden" id="tarefaIdParaDeletar" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="confirmarDelecaoTarefa()">Confirmar</button>
            </div>
        </div>
    </div>
</div>