<div class="modal fade" id="criarColunaModal" tabindex="-1" aria-labelledby="criarColunaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criarColunaModalLabel">Adicionar Nova Coluna</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="coluna-titulo" class="col-form-label">Título:</label>
                        <input type="text" class="form-control" id="coluna-titulo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarColuna()">Salvar</button>
            </div>
        </div>
    </div>
</div>